<%- include('partials/header.ejs')  %> 



<h1><%= postTitle %></h1>
<p><%= postBody %></p>
<form action="/delete" method="post">
<button class="btn btn-danger" type="submit" name="delete" value="<%= postId %>">Delete Post</button>
</form>



<%- include('partials/footer.ejs')  %> 
